.services {
	padding: 240px 0 295px;
	background: #181818 url("../img/services-bg.png")no-repeat;
	background-position: center 227%;
	clip-path: polygon(0 12.25%, 100% 0, 100% 88.8%, 0 100%);
}

.services .section__title {
	color: #fff;
}

.services .section__text {
	color: #777;
	margin-bottom: 205px;
}

.services__block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 470px;
}

.services__element {
	flex-basis: 29.1%;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}

.services__image {
	width: 173px;
	margin: 0 auto;
}

.services__image img {
	display: block;
	width: 100%;
}

.services__title {
	font-size: 26px;
	line-height: 26px;
	color: #fff;
	margin: 40px 0 25px;
}

.services__text {
	font-size: 18px;
	line-height: 23px;
	color: #383838;
}

.services__button {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	color: #000;
	background-color: #fff;
	padding: 20px 42px;
}

.services__button:hover {
	background-color: #555;
	color: #fff;
}

@media screen and (max-width: 1100px) {
	.services {
		background-position: center 1000px;
		background-size: 100% auto;
	}
}

@media screen and (max-width: 980px) {
	.services {
		padding: 150px 0;
		background-position: center 500px;
		clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
	}

	.services .section__text {
		margin-bottom: 100px;
	}

	.services__block {
		margin-bottom: 200px;
	}
}

@media screen and (max-width: 768px) {
	.services {
		padding: 100px 0;
		background-position: center 500px;
	}

	.services .section__text {
		margin-bottom: 70px;
	}

	.services__block {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 100px;
	}

	.services__element {
		flex-basis: 40%;
		margin-right: 30px;
		margin-bottom: 20px;
	}

	.services__image {
		width: 100px;
	}

	.services__title {
		margin: 15px 0;
	}

	.services__text {
		color: #555;
	}

	.services__button {
		font-size: 14px;
		line-height: 24px;
		padding: 10px 20px;
	}
}

@media screen and (max-width: 480px) {
	.services {
		padding: 70px 0;
		background-position: center 700px;
	}

	.services .section__text {
		margin-bottom: 30px;
	}

	.services__block {
		margin-bottom: 50px;
	}

	.services__element {
		flex-basis: 80%;
		margin-right: 0;
	}

	.services__title {
		font-size: 22px;
		line-height: 22px;
	}
}